figure {
    margin: 0;

  }

.sound {
    display: flex;
    justify-content: left;
    align-content: center;
  }
body{
    padding:0;
    margin:0;
  }
  
#output{
    margin:10px;
    height: 1.5em;
    font-size:30px;
}

.video-wrapper {
  width: 1280px;         /* 動画と同じ幅 */
  height: 720px;          /* 必要に応じて高さも指定 */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  width: 1280px;         /* 動画と同じ幅 */
  height: 720px;          /* 必要に応じて高さも指定 */
  transition: transform 0.2s;
  display: block;
  /* transform-origin: center center; */
  user-select: none;
}

